pip==26.1.1
propcache==0.3.2
prophet==1.3.0
contourpy==1.3.2
arrow==1.3.0
ply==3.11
threadpoolctl==3.6.0
ipython==9.1.0
uri-template==1.3.0
rfc3339_validator==0.1.4
executing==2.1.0
pexpect==4.9.0
pandas==2.2.3
lazy_loader==0.4
datasets==4.0.0
tomli==2.2.1
fqdn==1.5.1
babel==2.17.0
yfinance==1.1.0
setuptools==75.8.0
traitlets==5.14.3
zstandard==0.23.0
sentry-sdk==2.54.0
conda-anaconda-telemetry==0.1.2
nest_asyncio==1.6.0
pyarrow==21.0.0
click==8.3.1
kiwisolver==1.4.8
optax==0.2.8
pandocfilters==1.5.0
ptyprocess==0.7.0
mdurl==0.1.0
aiohttp==3.12.15
prometheus_client==0.21.1
pyobjc-core==10.1
isoduration==20.11.0
pytz==2025.2
toml==0.10.2
opencv-python==4.12.0.88
ruamel.yaml.clib==0.2.8
multidict==6.6.3
pillow==11.2.1
overrides==7.7.0
optree==0.17.0
parso==0.8.4
scikit-learn==1.7.2
importlib_metadata==8.6.1
webencodings==0.5.1
tinycss2==1.4.0
zipp==3.21.0
hf-xet==1.1.5
pydeck==0.9.1
Pygments==2.15.1
astunparse==1.6.3
websockets==16.0
narwhals==2.16.0
fonttools==4.58.1
h5py==3.14.0
python-json-logger==2.0.7
opt_einsum==3.4.0
anyio==4.9.0
defusedxml==0.7.1
etils==1.14.0
grpcio==1.78.0
google-pasta==0.2.0
pandoc==2.4
requests==2.32.3
pickleshare==0.7.5
jupyterlab==4.4.9
ipywidgets==8.1.7
attrs==25.3.0
cryptography==43.0.3
async-lru==2.0.5
torch==2.8.0
blinker==1.9.0
truststore==0.10.0
fire==0.7.1
seaborn==0.13.2
frozendict==2.4.2
h11==0.14.0
pyparsing==3.2.3
proto-plus==1.27.1
jupyter-console==6.6.3
jedi==0.19.2
tifffile==2025.9.20
menuinst==2.2.0
annotated-types==0.6.0
libmambapy==2.0.5
jupyter==1.1.1
PySocks==1.7.1
gast==0.6.0
protobuf==6.32.1
jupyter_client==8.6.3
beautifulsoup4==4.13.3
rich==13.9.4
asttokens==3.0.0
tqdm==4.67.1
psutil==5.9.0
matplotlib==3.10.3
urllib3==2.3.0
tensorstore==0.1.83
json5==0.12.0
fastjsonschema==2.21.1
exceptiongroup==1.2.2
jsonpatch==1.33
pydantic_core==2.27.1
tzdata==2025.2
ipython_pygments_lexers==1.1.1
pyzmq==26.2.0
appnope==0.1.4
cmdstanpy==1.3.0
jupyter_server==2.15.0
tenacity==9.1.4
flatbuffers==25.9.23
aiofiles==25.1.0
decorator==5.2.1
ml_dtypes==0.5.3
tensorflow==2.20.0
markdown-it-py==2.2.0
ruamel.yaml==0.18.6
h2==4.2.0
cffi==1.17.1
jsonschema==4.23.0
platformdirs==3.10.0
nbformat==5.10.4
jupyterlab_widgets==3.0.15
conda_package_streaming==0.11.0
yarl==1.20.1
boltons==24.1.0
stack_data==0.6.3
argon2-cffi==23.1.0
sympy==1.14.0
anaconda-anon-usage==0.5.0
cached-property==1.5.2
multiprocess==0.70.16
ta==0.11.0
pycparser==2.21
torchvision==0.23.0
Werkzeug==3.1.3
jupyter_core==5.7.2
xxhash==3.5.0
nbconvert==7.16.6
referencing==0.36.2
conda-content-trust==0.2.0
newsapi-python==0.2.7
wrapt==1.17.3
absl-py==2.3.1
tokenizers==0.21.4
notebook==7.4.7
soupsieve==2.5
Send2Trash==1.8.3
namex==0.1.0
jupyter-lsp==2.2.5
nbclient==0.10.2
gitdb==4.0.12
sniffio==1.3.1
googleapis-common-protos==1.72.0
rsa==4.9.1
cachetools==6.2.6
jsonschema-specifications==2024.10.1
textblob==0.19.0
plumbum==1.9.0
networkx==3.5
python-dateutil==2.9.0.post0
mpmath==1.3.0
jupyterlab_pygments==0.3.0
mistune==3.1.3
curl_cffi==0.13.0
simplejson==4.1.1
wcwidth==0.2.13
packaging==24.2
charset-normalizer==3.3.2
Brotli==1.0.9
jupyter-events==0.12.0
certifi==2025.1.31
tensorboard==2.20.0
streamlit==1.54.0
aiosignal==1.4.0
pycosat==0.6.6
orbax-checkpoint==0.11.39
libclang==18.1.1
jupyterlab_server==2.27.3
webcolors==24.11.1
transformers==4.54.1
httpcore==1.0.7
cycler==0.12.1
treescope==0.1.10
idna==3.7
Jinja2==3.1.6
wheel==0.45.1
filelock==3.18.0
pluggy==1.5.0
dill==0.3.8
comm==0.2.2
pyasn1==0.6.2
stanio==0.5.1
msgpack==1.1.2
google-auth==2.48.0
imageio==2.37.0
pure_eval==0.2.3
tornado==6.4.2
archspec==0.2.3
distro==1.9.0
termcolor==3.1.0
GitPython==3.1.46
fsspec==2025.3.0
Markdown==3.9
multitasking==0.0.12
rfc3986-validator==0.1.1
aiohappyeyeballs==2.6.1
terminado==0.18.1
flax==0.12.7
jsonpointer==2.1
pyobjc-framework-Cocoa==10.1
argon2-cffi-bindings==21.2.0
holidays==0.90
typing_extensions==4.12.2
nltk==3.9.2
plotly==6.5.2
PyYAML==6.0.2
httpx==0.28.1
jax==0.10.0
rpds-py==0.22.3
pkgutil_resolve_name==1.3.10
matplotlib-inline==0.1.7
smmap==5.0.2
keras==3.11.3
safetensors==0.5.3
scipy==1.16.2
numpy==2.2.5
pydantic==2.10.3
pyasn1_modules==0.4.2
tensorboard-data-server==0.7.2
peewee==3.19.0
conda-libmamba-solver==25.1.1
hpack==4.1.0
uvloop==0.22.1
conda-package-handling==2.4.0
jaxlib==0.10.0
jupyter_server_terminals==0.5.3
altair==6.0.0
google-api-core==2.30.0
google-cloud-tpu==1.25.0
types-python-dateutil==2.9.0.20241206
bleach==6.2.0
prompt_toolkit==3.0.50
conda-anaconda-tos==0.1.2
ipykernel==6.29.5
conda==25.3.1
joblib==1.5.2
humanize==4.15.0
debugpy==1.8.11
widgetsnbextension==4.0.14
scikit-image==0.25.2
six==1.17.0
hyperframe==6.1.0
typing_utils==0.1.0
importlib_resources==6.5.2
wandb==0.25.1
regex==2025.7.34
notebook_shim==0.2.4
frozenlist==1.7.0
grpcio-status==1.78.0
huggingface-hub==0.34.3
websocket-client==1.8.0
MarkupSafe==3.0.2
